name: Adguard dns and block rules
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set variables
        run: |
          echo "RELEASE_NAME=Released on $(date +%Y%m%d%H%M)" >> $GITHUB_ENV
          echo "TAG_NAME=$(date +%Y%m%d%H%M)" >> $GITHUB_ENV
        shell: bash

      - name: Generate folder and files
        run: |
          #echo -e '@@||edge.activity.windows.com^$important'|tee dns_hosts.txt ad_filter.txt
          
          curl https://raw.githubusercontent.com/Lazyhms/kill_ads/main/dns_hosts  > dns_hosts.txt
          curl https://hblock.molinero.dev/hosts >> dns_hosts.txt
          curl http://sbc.io/hosts/alternates/fakenews-gambling-social/hosts >> dns_hosts.txt
          curl https://adguardteam.github.io/AdGuardSDNSFilter/Filters/filter.txt >> dns_hosts.txt
          curl https://cdn.jsdelivr.net/gh/Goooler/1024_hosts@master/hosts >> dns_hosts.txt
          curl https://cdn.jsdelivr.net/gh/tekintian/hosts_ads_block@master/mobile/hosts >> dns_hosts.txt
          curl https://adaway.org/hosts.txt >> dns_hosts.txt
          curl https://neodev.team/lite_host >> dns_hosts.txt 
          
          curl https://raw.githubusercontent.com/Lazyhms/kill_ads/main/ad_filter > ad_filter.txt
          curl https://raw.githubusercontent.com/banbendalao/ADgk/master/ADgk.txt >> ad_filter.txt
          curl https://raw.githubusercontent.com/xinggsf/Adblock-Plus-Rule/master/rule.txt >> ad_filter.txt
          curl https://raw.githubusercontent.com/xinggsf/Adblock-Plus-Rule/master/mv.txt >> ad_filter.txt
          curl https://neodev.team/lite_adblocker >> ad_filter.txt
          curl https://cdn.jsdelivr.net/gh/o0HalfLife0o/list@master/ad.txt >> ad_filter.txt
          curl https://raw.githubusercontent.com/DoingDog/XXKiller/main/w.txt >> ad_filter.txt
          curl https://raw.iqiq.io/notracking/hosts-blocklists/master/adblock/adblock.txt >> ad_filter.txt
          
          sed -i "s/127.0.0.1/0.0.0.0/g ; s/\s\+/ /g ; s/^[ \t]*//g ; s/[ \t]*$//g ; /^[||\b@@\b0.0.0.0]/!d ; /^[.]/d" dns_hosts.txt
          sed -i 's/\s\+/ /g ; /^[!ï¼]/d' ad_filter.txt

          mkdir -p publish;

          cat dns_hosts.txt | sort -u | awk '!a[$0]++' > ./publish/DNS_HOSTS.TXT
          cat ad_filter.txt | sort -u | awk '!a[$0]++' > ./publish/AD_FILTER.TXT
          
      - name: Git push to release
        run: |
          cd publish || exit 1
          git init
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git checkout -b release
          git add .
          git commit -m "${{ env.RELEASE_NAME }}"
          git remote add origin "https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}"
          git push -f origin release
